In [46]:
import pandas as pd
%matplotlib inline

In [47]:
def stringtoint_converter(string):
    return int(string.split(" ")[1])
def load_data():
    train = pd.read_csv('data/train.csv',index_col='id',
                    converters = {'location':stringtoint_converter}) 
    test = pd.read_csv('data/test.csv')
    event_type = pd.read_csv('data/event_type.csv')
    log_feature = pd.read_csv('data/log_feature.csv')
    resource_type = pd.read_csv('data/resource_type.csv')
    severity_type = pd.read_csv('data/severity_type.csv')

In [48]:
load_data()

In [49]:
train.head()

      id      location  fault_severity source
0  14121  location 118               1  train
1   9320   location 91               0  train
2  14394  location 152               1  train
3   8218  location 931               1  train
4  14804  location 120               0  train

In [50]:
train['source'] = 'train'
test['source'] = 'test'
df=pd.concat([train,test], ignore_index=True)
len(df)

18552

In [51]:
print("unique locations",len(df['location'].unique()))

unique locations 1126

In [52]:
print("the data set has a lot of no faults data")
print(df['fault_severity'].value_counts())

the data set has a lot of no faults data
0.0    4784
1.0    1871
2.0     726
Name: fault_severity, dtype: int64

In [53]:
print("unique ids",len(event_type['id'].unique()))
print("number of records",len(event_type))
print("unique events",len(event_type['event_type'].unique()))

unique ids 18552
number of records 31170
unique events 53

In [54]:
print("unique ids",len(log_feature['id'].unique()))
print("number of records",len(log_feature))
print("unique events",len(log_feature['log_feature'].unique()))

unique ids 18552
number of records 58671
unique events 386

In [55]:
print("unique ids",len(resource_type['id'].unique()))
print("number of records",len(resource_type))
print("unique events",len(resource_type['resource_type'].unique()))

unique ids 18552
number of records 21076
unique events 10

In [56]:
print("unique ids",len(severity_type['id'].unique()))
print("number of records",len(severity_type))
print("unique events",len(severity_type['severity_type'].unique()))

unique ids 18552
number of records 18552
unique events 5

Clean Event type:

In [57]:
print(event_type.head())

     id     event_type  fault_severity_x  location_x source_x  \
0  6597  event_type 11               NaN  location 1     test
1  8011  event_type 15               0.0  location 1    train
2  2597  event_type 15               NaN  location 1     test
3  5022  event_type 15               NaN  location 1     test
4  5022  event_type 11               NaN  location 1     test

   fault_severity_y  location_y source_y
0               NaN  location 1     test
1               0.0  location 1    train
2               NaN  location 1     test
3               NaN  location 1     test
4               NaN  location 1     test

Since severity data and locations data have same number of rows, we will merge those two

In [58]:
dataset = severity_type.merge(train,on='id')

In [59]:
dataset.tail(20)

         id    severity_type      location  fault_severity source
7361   3511  severity_type 2  location 996               0  train
7362   1048  severity_type 2  location 996               1  train
7363   8661  severity_type 2  location 996               1  train
7364   3590  severity_type 1  location 998               2  train
7365   4906  severity_type 1  location 998               1  train
7366   2557  severity_type 2  location 998               0  train
7367  18543  severity_type 1  location 998               1  train
7368  14572  severity_type 1  location 998               1  train
7369   7640  severity_type 1  location 998               0  train
7370  11382  severity_type 1  location 998               1  train
7371   8390  severity_type 1  location 998               1  train
7372   8972  severity_type 1  location 998               0  train
7373  14916  severity_type 1  location 998               1  train
7374  13670  severity_type 2  location 998               0  train
7375   4196  severity_type 1  location 999               1  train
7376   6288  severity_type 1  location 999               1  train
7377  13296  severity_type 1  location 999               1  train
7378   8114  severity_type 2  location 999               0  train
7379    878  severity_type 2  location 999               0  train
7380   4464  severity_type 1  location 999               0  train